@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section tw-bg-[#d4d8db] tw-w-[100%]">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide ">
                <img src="\Images\hero-section.png" alt="" class="tw-relative tw-size-full ">
                <div class="tw-w-[90%] tw-m-auto tw-pl-[25px]">
                    <div class="tw-absolute tw-top-[179px] ">
                        <div class=" tw-h-[178px] tw-w-[608px] tw-mb-[31px]">
                            <p class="tw-text-white tw-font-bold tw-text-[22px] tw-leading-[27px]">
                                WELCOME TO
                                EnvoyCan
                            </p>
                            <h6 class=" tw-font-bold tw-font-bold tw-text-[65px] tw-leading-[70px] tw-text-black">
                                Skilled <span class="text-white">Professional</span> At Your Doorstep.
                            </h6>
                        </div>
                        <div class="d-flex tw-w-[670px] tw-h-[74px] tw-bg-white tw-items-center ">
                            <div class="d-flex tw-w-[76%] tw-items-center">
                                <img src="\Images\location-icon.png" class="tw-px-[20px]" alt="">
                                <div class="dropdown border-start border-2 p-3 d-block">
                                    <a class="dropdown-toggle-navbar text-black tw-no-underline" type="button" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Services <span class="tw-pl-[8px]">
                                            <img src="\Images\Chevron_Services.png"
                                                 class="tw-h-[16px] tw-w-[15px]">
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu border border-0">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex tw-w-[161px] tw-h-[74px]  tw-items-center tw-bg-[#A7E92F]">
                                <div class="tw-w-[70%] tw-m-auto d-flex tw-justify-between">
                                    <img src="\Images\Search_icon.png" class="" alt="">
                                    <p class="tw-text-white tw-font-bold"> GET PRICE</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide ">
                <img src="\Images\hero-section.png" alt="" class="tw-relative tw-size-full">
                <h1 class="tw-absolute tw-top-[138px]"> hello2</h1>
            </div>
            <div class="swiper-slide ">
                <img src="\Images\hero-section.png" alt="" class="tw-relative tw-size-full">
                <h1 class="tw-absolute tw-top-[138px]"> hello3</h1>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="service-rating tw-text-center tw-h-[145px] tw-bg-[#F6F7F9] tw-content-center tw-mb-[49px]">
    <p class="tw-font-medium">Over 2,500 five-star rating from satisfied customers</p>
    <img src="\Images\Stars.png" alt="">
</div>
<div class="get-solved tw-w-[90%] tw-m-auto ">
    <div class="d-flex tw-items-center tw-mb-[60px]">
        <div class="get-solved-heading tw-text-black tw-w-[90%]">
            <h1 class="tw-text-[57px] tw-font-semibold">You Get Solved Your Problems </h1>
            <p class="tw-text-[20px] tw-w-[37%]">
                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                Pellentesque in ipsum id orci porta dapibus.
            </p>
        </div>
        <div class="d-flex tw-w-[10%] tw-justify-between tw-self-end ">
            <div id="get-solved-swiper-button-prev"><img src="\Images\Frame_prev.png" alt=""></div>
            <div id="get-solved-swiper-button-next"><img src="\Images\Frame_next.png" alt=""></div>
        </div>
    </div>
    <div class="swiper get-solved-swiper">
        <div class="swiper-container tw-h-[300px] tw-pt-[20px] tw-px-[10px] ">
            <div class="swiper-wrapper">
                <div class=" swiper-slide d-flex tw-justify-between tw-h-[251px] tw-text-center">
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\Home_Improvement.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Home Improvement</p>
                    </div>
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\WoodWork.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Carpentry & Woodwork</p>
                    </div>
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\Construction.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Construction</p>
                    </div>
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\decorators.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Decorators</p>
                    </div>
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\Plumbing.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Plumbing</p>
                    </div>

                </div>
                <div class="swiper-slide d-flex tw-justify-between tw-h-[251px] tw-text-center">
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\Home_Improvement.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Home Improvement</p>
                    </div>
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\Home_Improvement.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Home Improvement</p>
                    </div>
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\Home_Improvement.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Home Improvement</p>
                    </div>
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\Home_Improvement.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Home Improvement</p>
                    </div>
                    <div class="custom-shadow border border-1 tw-content-center tw-w-[17%] rounded">
                        <img src="\Images\Home_Improvement.png" alt="" class="tw-mb-[30px]">
                        <p class="tw-font-bold tw-text-[18px] tw-text-black">Home Improvement</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner d-grid tw-grid-cols-12 gap-4 tw-w-[90%] tw-m-auto tw-mb-20">
    <div class="tw-col-start-1 tw-col-end-8 tw-relative">
        <img src="\Images\Painting.png" alt="" class=" img-banner">
        <div class="d-flex tw-flex-col tw-justify-between tw-absolute tw-top-0 tw-p-[40px] tw-h-[100%] tw-w-[100%]">
            <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[5px] tw-w-[max-content] tw-px-[10px] rounded tw-text-[17px]">PAINTING</a>
            <div class="">
                <h1 class="tw-text-white tw-text-[58px] tw-w-[50%]">Painting For Beautiful Homes</h1>
                <div class="d-flex tw-justify-between">
                    <div class="d-flex tw-justify-between tw-w-[16%] tw-items-center">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p class="tw-text-white">Wade Warren</p>
                    </div>
                    <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[10px] tw-px-[25px] rounded tw-text-[22px] tw-font-bold">
                        $ 120
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tw-col-start-8 tw-col-end-13 tw-relative">
        <img src="\Images\pest_Control.png" alt="" class="img-banner">
        <div class="d-flex tw-flex-col tw-justify-between tw-absolute tw-top-0 tw-p-[40px] tw-h-[100%] tw-w-[100%]">
            <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[5px] tw-w-[max-content] tw-px-[10px] rounded tw-text-[14px] tw-font-bold">PAINTING</a>
            <div class="">
                <h1 class="tw-text-white tw-text-[53px] tw-w-[70%]">Pest Control For Home Gardens</h1>
                <div class="d-flex tw-justify-between">
                    <div class="d-flex tw-justify-between tw-w-[25%] tw-items-center">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p class="tw-text-white">Wade Warren</p>
                    </div>
                    <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[10px] tw-px-[25px] rounded tw-text-[22px] tw-font-bold">
                        $ 120
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tw-col-start-1 tw-col-end-6 tw-relative">
        <img src="\Images\Pest_Control2.png" alt="" class="img-banner">
        <div class="d-flex tw-flex-col tw-justify-between tw-absolute tw-top-0 tw-p-[40px] tw-h-[100%] tw-w-[100%]">
            <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[5px] tw-w-[max-content] tw-px-[10px] rounded tw-text-[14px] tw-font-bold">PAINTING</a>
            <div class="">
                <h1 class="tw-text-white tw-text-[53px] tw-w-[70%]">Pest Control For Home Gardens</h1>
                <div class="d-flex tw-justify-between">
                    <div class="d-flex tw-justify-between tw-w-[25%] tw-items-center">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p class="tw-text-white">Wade Warren</p>
                    </div>
                    <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[10px] tw-px-[25px] rounded tw-text-[22px] tw-font-bold">
                        $ 120
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tw-col-start-6 tw-col-end-13 tw-relative">
        <img src="\Images\Painting2.png" alt="" class=" img-banner">
        <div class="d-flex tw-flex-col tw-justify-between tw-absolute tw-top-0 tw-p-[40px] tw-h-[100%] tw-w-[100%]">
            <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[5px] tw-w-[max-content] tw-px-[10px] rounded tw-text-[17px]">PAINTING</a>
            <div class="">
                <h1 class="tw-text-white tw-text-[58px] tw-w-[50%]">Painting For Beautiful Homes</h1>
                <div class="d-flex tw-justify-between">
                    <div class="d-flex tw-justify-between tw-w-[16%] tw-items-center">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p class="tw-text-white">Wade Warren</p>
                    </div>
                    <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[10px] tw-px-[25px] rounded tw-text-[22px] tw-font-bold">
                        $ 120
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tw-col-start-1 tw-col-end-8 tw-relative">
        <img src="\Images\Painting3.png" alt="" class=" img-banner">
        <div class="d-flex tw-flex-col tw-justify-between tw-absolute tw-top-0 tw-p-[40px] tw-h-[100%] tw-w-[100%]">
            <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[5px] tw-w-[max-content] tw-px-[10px] rounded tw-text-[17px]">PAINTING</a>
            <div class="">
                <h1 class="tw-text-white tw-text-[58px] tw-w-[50%]">Painting For Beautiful Homes</h1>
                <div class="d-flex tw-justify-between">
                    <div class="d-flex tw-justify-between tw-w-[16%] tw-items-center">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p class="tw-text-white">Wade Warren</p>
                    </div>
                    <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[10px] tw-px-[25px] rounded tw-text-[22px] tw-font-bold">
                        $ 120
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tw-col-start-8 tw-col-end-13 tw-relative">
        <img src="\Images\pest_Control3.png" alt="" class="img-banner">
        <div class="d-flex tw-flex-col tw-justify-between tw-absolute tw-top-0 tw-p-[40px] tw-h-[100%] tw-w-[100%]">
            <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[5px] tw-w-[max-content] tw-px-[10px] rounded tw-text-[14px] tw-font-bold">PAINTING</a>
            <div class="">
                <h1 class="tw-text-white tw-text-[53px] tw-w-[70%]">Pest Control For Home Gardens</h1>
                <div class="d-flex tw-justify-between">
                    <div class="d-flex tw-justify-between tw-w-[25%] tw-items-center">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p class="tw-text-white">Wade Warren</p>
                    </div>
                    <a class="tw-bg-[#A6E72F] tw-no-underline tw-text-black tw-p-[10px] tw-px-[25px] rounded tw-text-[22px] tw-font-bold">
                        $ 120
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services tw-bg-[#F6F7F9] ">
    <div class="tw-w-[90%] tw-m-auto">
        <h1 class="tw-text-center tw-text-[50px] tw-font-bold tw-w-[40%] tw-m-auto tw-text-black py-5">
            Services that gives
            you peace of mind
        </h1>
        <div class="plumbing-services">
            <div class="d-flex tw-justify-between tw-items-center tw-mb-10 ">
                <h4>
                    <span class="tw-font-bold tw-text-black">
                        Top Providers in<i class="fa-solid fa-chevron-right tw-text-sm"></i>
                    </span> Plumbing Services
                </h4>
                <div class="d-flex tw-w-[9%] tw-justify-between tw-self-end">
                    <div id="services-swiper-button-prev"><img src="\Images\Frame_prev.png" alt=""></div>
                    <div id="services-swiper-button-next"><img src="\Images\Frame_next.png" alt=""></div>
                </div>
            </div>
            <div class="swiper tw-h-[450px] ">
                <div class="service-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide d-grid tw-grid-cols-13 gap-4">
                            <div class="main-div tw-col-start-1 tw-col-end-5">
                                <div class="tw-relative">
                                    <img src="\Images\plumbing_Services1.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[200px] rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold tw-text-black">Toilet Repair</h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-5 tw-col-end-9">
                                <div class="tw-relative">
                                    <img src="\Images\Drain.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-font-bold">DOMESTIC CLEANING</a>

                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\drain_small.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[200px] rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold tw-text-black">Drain Cleaning</h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-9 tw-col-end-13">
                                <div class="tw-relative">
                                    <img src="\Images\services.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-font-bold ">TAP FITTING</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\services_small.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[200px] rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold tw-text-black">Plumbing Services </h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide d-grid tw-grid-cols-13 gap-4">
                            <div class="main-div tw-col-start-1 tw-col-end-5">
                                <div class="tw-relative">
                                    <img src="\Images\services.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-font-bold ">TAP FITTING</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\services_small.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[200px] rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold">Toilet Repair</h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-5 tw-col-end-9">
                                <div class="tw-relative">
                                    <img src="\Images\plumbing_Services1.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-h-[200px] tw-m-auto rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold">Toilet Repair</h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-9 tw-col-end-13">
                                <div class="tw-relative">
                                    <img src="\Images\Drain.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-font-bold">DOMESTIC CLEANING</a>

                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\drain_small.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-h-[200px] tw-m-auto rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold">Toilet Repair</h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Cleaning-services">
            <div class="d-flex tw-justify-between tw-items-center tw-mb-10 ">
                <h4>
                    <span class="tw-font-bold tw-text-black">
                        Top Providers in<i class="fa-solid fa-chevron-right tw-text-sm"></i>
                    </span> Home Cleaning Services
                </h4>
                <div class="d-flex tw-w-[9%] tw-justify-between tw-self-end">
                    <div id="cleaning-swiper-button-prev"><img src="\Images\Frame_prev.png" alt=""></div>
                    <div id="cleaning-swiper-button-next"><img src="\Images\Frame_next.png" alt=""></div>
                </div>
            </div>
            <div class="swiper tw-h-[450px]">
                <div class="cleaning-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide d-grid tw-grid-cols-13 gap-4">
                            <div class="main-div tw-col-start-1 tw-col-end-5">
                                <div class="tw-relative">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[200px] rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold tw-text-black">Party Cleaning</h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-5 tw-col-end-9">
                                <div class="tw-relative">
                                    <img src="\Images\commercial.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-font-bold">DOMESTIC CLEANING</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\drain_small.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[200px] rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h3 class="tw-font-bold tw-text-black">Commercial Cleaning</h3>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-9 tw-col-end-13">
                                <div class="tw-relative">
                                    <img src="\Images\deep.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-font-bold ">TAP FITTING</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\services_small.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[200px] rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold tw-text-black">Deep Cleaning </h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide d-grid tw-grid-cols-13 gap-4">
                            <div class="main-div tw-col-start-1 tw-col-end-5">
                                <div class="tw-relative">
                                    <img src="\Images\deep.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-font-bold ">TAP FITTING</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\services_small.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[200px] rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold">Toilet Repair</h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-5 tw-col-end-9">
                                <div class="tw-relative">
                                    <img src="\Images\commercial.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-h-[200px] tw-m-auto rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold">Toilet Repair</h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-9 tw-col-end-13">
                                <div class="tw-relative">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-font-bold">DOMESTIC CLEANING</a>

                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\drain_small.png" alt="" class="">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[175px] tw-inset-x-0 tw-w-[80%] tw-h-[200px] tw-m-auto rounded tw-p-5 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between ">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="">
                                                <h6 class="p-2 ">Wade Warren</h6>
                                            </div>
                                            <div>
                                                <img src="\Images\Stars.png" alt="">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h2 class="tw-font-bold">Toilet Repair</h2>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%]  px-2 py-2 rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-2xl"> $ 120</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Electrical-services">
            <div class="d-flex tw-justify-between tw-items-center tw-mb-5 ">
                <h4>
                    <span class="tw-font-bold tw-text-black">
                        Top Category <i class="fa-solid fa-chevron-right tw-text-sm"></i>
                        Service <i class="fa-solid fa-chevron-right tw-text-sm"></i>
                    </span> Electrical Services
                </h4>
                <div class="d-flex tw-w-[9%] tw-justify-between tw-self-end">
                    <div id="Electrical-swiper-button-prev"><img src="\Images\Frame_prev.png" alt=""></div>
                    <div id="Electrical-swiper-button-next"><img src="\Images\Frame_next.png" alt=""></div>
                </div>
            </div>
            <div class="swiper tw-h-[350px]">
                <div class="Electrical-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide d-grid tw-grid-cols-13 gap-4">
                            <div class="main-div tw-col-start-1 tw-col-end-4">
                                <div class="tw-relative ">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border tw-h-[195px]">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-text-sm ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="tw-w-[19%]">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[139px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[127px] rounded tw-p-3 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between  tw-items-center">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="" class="tw-w-[20%]">
                                                <p class="tw-text-xs ">Wade Warren</p>
                                            </div>
                                            <div class="tw-w-[38%]">
                                                <img src="\Images\Stars.png" alt="" class="tw-w-[100%]">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h6 class="tw-font-bold tw-text-black">Party Cleaning</h6>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%] rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-lg"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-4 tw-col-end-7">
                                <div class="tw-relative ">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border tw-h-[195px]">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-text-sm ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="tw-w-[19%]">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[139px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[127px] rounded tw-p-3 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between  tw-items-center">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="" class="tw-w-[20%]">
                                                <p class="tw-text-xs ">Wade Warren</p>
                                            </div>
                                            <div class="tw-w-[38%]">
                                                <img src="\Images\Stars.png" alt="" class="tw-w-[100%]">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h6 class="tw-font-bold tw-text-black">Party Cleaning</h6>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%] rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-lg"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-7 tw-col-end-10 ">
                                <div class="tw-relative ">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border tw-h-[195px]">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-text-sm ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="tw-w-[19%]">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[139px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[127px] rounded tw-p-3 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between  tw-items-center">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="" class="tw-w-[20%]">
                                                <p class="tw-text-xs ">Wade Warren</p>
                                            </div>
                                            <div class="tw-w-[38%]">
                                                <img src="\Images\Stars.png" alt="" class="tw-w-[100%]">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h6 class="tw-font-bold tw-text-black">Party Cleaning</h6>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%] rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-lg"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-10 tw-col-end-13 ">
                                <div class="tw-relative ">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border tw-h-[195px]">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-text-sm ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="tw-w-[19%]">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[139px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[127px] rounded tw-p-3 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between  tw-items-center">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="" class="tw-w-[20%]">
                                                <p class="tw-text-xs ">Wade Warren</p>
                                            </div>
                                            <div class="tw-w-[38%]">
                                                <img src="\Images\Stars.png" alt="" class="tw-w-[100%]">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h6 class="tw-font-bold tw-text-black">Party Cleaning</h6>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%] rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-lg"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide d-grid tw-grid-cols-13 gap-4">
                            <div class="main-div tw-col-start-1 tw-col-end-4">
                                <div class="tw-relative ">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border tw-h-[195px]">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-text-sm ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="tw-w-[19%]">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[139px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[127px] rounded tw-p-3 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between  tw-items-center">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="" class="tw-w-[20%]">
                                                <p class="tw-text-xs ">Wade Warren</p>
                                            </div>
                                            <div class="tw-w-[38%]">
                                                <img src="\Images\Stars.png" alt="" class="tw-w-[100%]">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h6 class="tw-font-bold tw-text-black">Party Cleaning</h6>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%] rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-lg"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-4 tw-col-end-7">
                                <div class="tw-relative ">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border tw-h-[195px]">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-text-sm ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="tw-w-[19%]">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[139px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[127px] rounded tw-p-3 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between  tw-items-center">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="" class="tw-w-[20%]">
                                                <p class="tw-text-xs ">Wade Warren</p>
                                            </div>
                                            <div class="tw-w-[38%]">
                                                <img src="\Images\Stars.png" alt="" class="tw-w-[100%]">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h6 class="tw-font-bold tw-text-black">Party Cleaning</h6>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%] rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-lg"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-7 tw-col-end-10 ">
                                <div class="tw-relative ">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border tw-h-[195px]">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-text-sm ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="tw-w-[19%]">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[139px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[127px] rounded tw-p-3 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between  tw-items-center">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="" class="tw-w-[20%]">
                                                <p class="tw-text-xs ">Wade Warren</p>
                                            </div>
                                            <div class="tw-w-[38%]">
                                                <img src="\Images\Stars.png" alt="" class="tw-w-[100%]">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h6 class="tw-font-bold tw-text-black">Party Cleaning</h6>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%] rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-lg"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-div tw-col-start-10 tw-col-end-13 ">
                                <div class="tw-relative ">
                                    <img src="\Images\Party.png" alt="" class="tw-w-[100%] rounded custom-border tw-h-[195px]">
                                    <div class="tw-absolute tw-top-6 tw-right-6">
                                        <a href="" class="main-color rounded py-1 px-2 tw-text-sm ">ROOF CARE</a>
                                    </div>
                                    <div class="tw-absolute tw-top-[68px] tw-inset-x-0 d-flex tw-justify-center tw-text-white">
                                        <img src="\Images\RoofCare.png" alt="" class="tw-w-[19%]">
                                    </div>
                                    <div class="tw-bg-white tw-absolute tw-top-[139px] tw-inset-x-0 tw-w-[80%] tw-m-auto tw-h-[127px] rounded tw-p-3 d-flex tw-flex-col tw-justify-between ">
                                        <div class="d-flex tw-justify-between  tw-items-center">
                                            <div class="d-flex tw-justify-between tw-items-center">
                                                <img src="\Images\Banner-img1.png" alt="" class="tw-w-[20%]">
                                                <p class="tw-text-xs ">Wade Warren</p>
                                            </div>
                                            <div class="tw-w-[38%]">
                                                <img src="\Images\Stars.png" alt="" class="tw-w-[100%]">
                                            </div>
                                        </div>
                                        <div class="tw-text-center">
                                            <h6 class="tw-font-bold tw-text-black">Party Cleaning</h6>
                                        </div>
                                        <div class="tw-text-center tw-self-center main-color tw-w-[30%] rounded">
                                            <a href="" class=" tw-text-white tw-font-bold tw-text-lg"> $ 120</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="downlaod-application tw-bg-black tw-mb-4">
    <div class="tw-w-[90%] tw-m-auto d-grid tw-grid-cols-12 gap-5 tw-items-center p-4">
        <div class="d-flex tw-flex-col gap-4 tw-col-start-1 tw-col-end-5">
            <h3 class="tw-text-white tw-text-[47px]">Download Application From</h3>
            <p class="tw-text-white tw-w-[80%]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            <div class="d-flex tw-justify-between tw-w-[70%]">
                <img src="\Images\Badge.png" alt="" class="tw-w-[47%]">
                <img src="\Images\Iphone.png" alt="" class="tw-w-[47%]">
            </div>
        </div>
        <div class="tw-col-start-5 tw-col-end-12 ">
            <img src="\Images\Free_service.png" alt="">
        </div>

    </div>

</div>
<div class="Testimonials">
    <div class="tw-w-[90%] tw-m-auto tw-mb-3">
        <div class="swiper Testimonials-swiper tw-w-[100%] tw-py-[60px] tw-relative">
            <div class="swiper-wrapper tw-w-[35%] ">
                <div class=" swiper-slide mySwiper_slide d-flex tw-flex-col tw-justify-between tw-h-[350px] p-4 custom-shadow2 ">
                    <div class="d-flex tw-justify-between">
                        <div class="tw-w-[30%]">
                            <img src="\Images\stars2.png" alt="" class="tw-w-[100%]">
                        </div>
                        <a href="" class="main-color p-2 tw-text-xs tw-font-bold rounded">ROOF CARE</a>
                    </div>
                    <div>
                        <h3 class="tw-mb-3 tw-font-bold"> GREAT SERVICE!</h3>
                        <p class="tw-text-black">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut
                            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        </p>
                    </div>
                    <div class="d-flex tw-justify-between tw-w-[30%]">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p>Wade Warren</p>
                    </div>
                </div>
                <div class="swiper-slide mySwiper_slide d-flex tw-flex-col tw-justify-between tw-h-[350px] p-4 custom-shadow2 ">
                    <div class="d-flex tw-justify-between">
                        <div class="tw-w-[30%]">
                            <img src="\Images\stars2.png" alt="" class="tw-w-[100%]">
                        </div>
                        <a href="" class="main-color p-2 tw-text-xs tw-font-bold rounded">ROOF CARE</a>
                    </div>
                    <div>
                        <h3 class="tw-mb-3 tw-font-bold"> GREAT SERVICE!</h3>
                        <p class="tw-text-black">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut
                            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        </p>
                    </div>
                    <div class="d-flex tw-justify-between tw-w-[30%]">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p>Wade Warren</p>
                    </div>
                </div>
                <div class="swiper-slide mySwiper_slide d-flex tw-flex-col tw-justify-between tw-h-[350px] p-4 custom-shadow2 ">
                    <div class="d-flex tw-justify-between">
                        <div class="tw-w-[30%]">
                            <img src="\Images\stars2.png" alt="" class="tw-w-[100%]">
                        </div>
                        <a href="" class="main-color p-2 tw-text-xs tw-font-bold rounded">ROOF CARE</a>
                    </div>
                    <div>
                        <h3 class="tw-mb-3 tw-font-bold"> GREAT SERVICE!</h3>
                        <p class="tw-text-black">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut
                            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        </p>
                    </div>
                    <div class="d-flex tw-justify-between tw-w-[30%]">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p>Wade Warren</p>
                    </div>
                </div>
                <div class="swiper-slide mySwiper_slide d-flex tw-flex-col tw-justify-between tw-h-[350px] p-4 custom-shadow2 ">
                    <div class="d-flex tw-justify-between">
                        <div class="tw-w-[30%]">
                            <img src="\Images\stars2.png" alt="" class="tw-w-[100%]">
                        </div>
                        <a href="" class="main-color p-2 tw-text-xs tw-font-bold rounded">ROOF CARE</a>
                    </div>
                    <div>
                        <h3 class="tw-mb-3 tw-font-bold"> GREAT SERVICE!</h3>
                        <p class="tw-text-black">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut
                            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        </p>
                    </div>
                    <div class="d-flex tw-justify-between tw-w-[30%]">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p>Wade Warren</p>
                    </div>
                </div>
                <div class="swiper-slide mySwiper_slide d-flex tw-flex-col tw-justify-between tw-h-[350px] p-4 custom-shadow2 ">
                    <div class="d-flex tw-justify-between">
                        <div class="tw-w-[30%]">
                            <img src="\Images\stars2.png" alt="" class="tw-w-[100%]">
                        </div>
                        <a href="" class="main-color p-2 tw-text-xs tw-font-bold rounded">ROOF CARE</a>
                    </div>
                    <div>
                        <h3 class="tw-mb-3 tw-font-bold"> GREAT SERVICE!</h3>
                        <p class="tw-text-black">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut
                            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        </p>
                    </div>
                    <div class="d-flex tw-justify-between tw-w-[30%]">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p>Wade Warren</p>
                    </div>
                </div>
                <div class="swiper-slide mySwiper_slide d-flex tw-flex-col tw-justify-between tw-h-[350px] p-4 custom-shadow2 ">
                    <div class="d-flex tw-justify-between">
                        <div class="tw-w-[30%]">
                            <img src="\Images\stars2.png" alt="" class="tw-w-[100%]">
                        </div>
                        <a href="" class="main-color p-2 tw-text-xs tw-font-bold rounded">ROOF CARE</a>
                    </div>
                    <div>
                        <h3 class="tw-mb-3 tw-font-bold"> GREAT SERVICE!</h3>
                        <p class="tw-text-black">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut
                            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        </p>
                    </div>
                    <div class="d-flex tw-justify-between tw-w-[30%]">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p>Wade Warren</p>
                    </div>
                </div>
                <div class="swiper-slide mySwiper_slide d-flex tw-flex-col tw-justify-between tw-h-[350px] p-4 custom-shadow2 ">
                    <div class="d-flex tw-justify-between">
                        <div class="tw-w-[30%]">
                            <img src="\Images\stars2.png" alt="" class="tw-w-[100%]">
                        </div>
                        <a href="" class="main-color p-2 tw-text-xs tw-font-bold rounded">ROOF CARE</a>
                    </div>
                    <div>
                        <h3 class="tw-mb-3 tw-font-bold"> GREAT SERVICE!</h3>
                        <p class="tw-text-black">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod tincidunt ut
                            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        </p>
                    </div>
                    <div class="d-flex tw-justify-between tw-w-[30%]">
                        <img src="\Images\Banner-img1.png" alt="">
                        <p>Wade Warren</p>
                    </div>
                </div>
            </div>
            <div class="tw-z-10 d-flex tw-w-[40%] tw-justify-between tw-items-center tw-self-end tw-absolute tw-inset-x-[29rem] tw-top-[13rem]">
                <div id="Testimonials-swiper-button-prev"><img class="tw-rotate-180" src="\Images\right.png" alt=""></div>
                <div id="Testimonials-swiper-button-next"><img class="" src="\Images\right.png" alt=""></div>
            </div>
        </div>

    </div>

</div>
<div class="popular-service tw-h-[400px] mb-5">
    <div>
        <div class="tw-w-[90%] tw-m-auto d-flex tw-justify-between mb-4">
            <h1>Popular service</h1>
            <div class="d-flex tw-w-[9%] tw-justify-between tw-self-end">
                <div id="popular-swiper-button-prev"><img src="\Images\Frame_prev.png" alt=""></div>
                <div id="popular-swiper-button-next"><img src="\Images\Frame_next.png" alt=""></div>
            </div>
        </div>
        <div class="swiper popular-serviceSwiper ">
            <div class="swiper-wrapper  tw-mr-0">
                <div class="swiper-slide tw-relative">
                    <img src="/Images/popular1.png" alt="" class="tw-w-[100%]">
                    <div class="tw-absolute tw-top-0 p-3 d-flex tw-flex-col tw-justify-between tw-h-[300px]">
                        <div cl>
                            <a href="" class="main-color tw-font-bold p-2 rounded tw-text-xs">PAINTING</a>
                        </div>
                        <div>
                            <h2 class="tw-text-white mb-3 tw-font-extrabold">Pest Control For Home Gardens</h2>
                            <div class="d-flex tw-justify-between tw-items-center">
                                <div class="d-flex tw-justify-between tw-items-center">
                                    <img src="\Images\Banner-img1.png" alt="">
                                    <p class="tw-text-white px-2">Wade Warren</p>
                                </div>
                                <div>
                                    <a href="" class="main-color rounded px-2 py-1"> $ 120</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tw-relative">
                    <img src="/Images/papular2.png" alt="" class="tw-w-[100%]">
                    <div class="tw-absolute tw-top-0 p-3 d-flex tw-flex-col tw-justify-between tw-h-[300px]">
                        <div cl>
                            <a href="" class="main-color tw-font-bold p-2 rounded tw-text-xs">PAINTING</a>
                        </div>
                        <div>
                            <h2 class="tw-text-white mb-3 tw-font-extrabold">Handyman Services</h2>
                            <div class="d-flex tw-justify-between tw-items-center">
                                <div class="d-flex tw-justify-between tw-items-center">
                                    <img src="\Images\Banner-img1.png" alt="">
                                    <p class="tw-text-white px-2">Wade Warren</p>
                                </div>
                                <div>
                                    <a href="" class="main-color rounded px-2 py-1"> $ 120</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tw-relative">
                    <img src="/Images/papular3.png" alt="" class="tw-w-[100%]">
                    <div class="tw-absolute tw-top-0 p-3 d-flex tw-flex-col tw-justify-between tw-h-[300px]">
                        <div cl>
                            <a href="" class="main-color tw-font-bold p-2 rounded tw-text-xs">PAINTING</a>
                        </div>
                        <div>
                            <h2 class="tw-text-white mb-3 tw-font-extrabold">Plumbing Services</h2>
                            <div class="d-flex tw-justify-between tw-items-center">
                                <div class="d-flex tw-justify-between tw-items-center">
                                    <img src="\Images\Banner-img1.png" alt="">
                                    <p class="tw-text-white px-2">Wade Warren</p>
                                </div>
                                <div>
                                    <a href="" class="main-color rounded px-2 py-1"> $ 120</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tw-relative">
                    <img src="/Images/papular4.png" alt="" class="tw-w-[100%]">
                    <div class="tw-absolute tw-top-0 p-3 d-flex tw-flex-col tw-justify-between tw-h-[300px]">
                        <div cl>
                            <a href="" class="main-color tw-font-bold p-2 rounded tw-text-xs">PAINTING</a>
                        </div>
                        <div>
                            <h2 class="tw-text-white mb-3 tw-font-extrabold">Home Construction</h2>
                            <div class="d-flex tw-justify-between tw-items-center">
                                <div class="d-flex tw-justify-between tw-items-center">
                                    <img src="\Images\Banner-img1.png" alt="">
                                    <p class="tw-text-white px-2">Wade Warren</p>
                                </div>
                                <div>
                                    <a href="" class="main-color rounded px-2 py-1"> $ 120</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tw-relative">
                    <img src="/Images/papular5.png" alt="" class="tw-w-[100%]">
                    <div class="tw-absolute tw-top-0 p-3 d-flex tw-flex-col tw-justify-between tw-h-[300px]">
                        <div cl>
                            <a href="" class="main-color tw-font-bold p-2 rounded tw-text-xs">PAINTING</a>
                        </div>
                        <div>
                            <h2 class="tw-text-white mb-3 tw-font-extrabold">Home Improvement</h2>
                            <div class="d-flex tw-justify-between tw-items-center">
                                <div class="d-flex tw-justify-between tw-items-center">
                                    <img src="\Images\Banner-img1.png" alt="">
                                    <p class="tw-text-white px-2">Wade Warren</p>
                                </div>
                                <div>
                                    <a href="" class="main-color rounded px-2 py-1"> $ 120</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tw-relative">
                    <img src="/Images/popular1.png" alt="" class="tw-w-[100%]">
                    <div class="tw-absolute tw-top-0 p-3 d-flex tw-flex-col tw-justify-between tw-h-[300px]">
                        <div cl>
                            <a href="" class="main-color tw-font-bold p-2 rounded tw-text-xs">PAINTING</a>
                        </div>
                        <div>
                            <h2 class="tw-text-white mb-3 tw-font-extrabold">Pest Control For Home Gardens</h2>
                            <div class="d-flex tw-justify-between tw-items-center">
                                <div class="d-flex tw-justify-between tw-items-center">
                                    <img src="\Images\Banner-img1.png" alt="">
                                    <p class="tw-text-white px-2">Wade Warren</p>
                                </div>
                                <div>
                                    <a href="" class="main-color rounded px-2 py-1"> $ 120</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tw-relative">
                    <img src="/Images/papular2.png" alt="" class="tw-w-[100%]">
                    <div class="tw-absolute tw-top-0 p-3 d-flex tw-flex-col tw-justify-between tw-h-[300px]">
                        <div cl>
                            <a href="" class="main-color tw-font-bold p-2 rounded tw-text-xs">PAINTING</a>
                        </div>
                        <div>
                            <h2 class="tw-text-white mb-3 tw-font-extrabold">Plumbing Services</h2>
                            <div class="d-flex tw-justify-between tw-items-center">
                                <div class="d-flex tw-justify-between tw-items-center">
                                    <img src="\Images\Banner-img1.png" alt="">
                                    <p class="tw-text-white px-2">Wade Warren</p>
                                </div>
                                <div>
                                    <a href="" class="main-color rounded px-2 py-1"> $ 120</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tw-relative">
                    <img src="/Images/papular3.png" alt="" class="tw-w-[100%]">
                    <div class="tw-absolute tw-top-0 p-3 d-flex tw-flex-col tw-justify-between tw-h-[300px]">
                        <div cl>
                            <a href="" class="main-color tw-font-bold p-2 rounded tw-text-xs">PAINTING</a>
                        </div>
                        <div>
                            <h2 class="tw-text-white mb-3 tw-font-extrabold">Home Improvement</h2>
                            <div class="d-flex tw-justify-between tw-items-center">
                                <div class="d-flex tw-justify-between tw-items-center">
                                    <img src="\Images\Banner-img1.png" alt="">
                                    <p class="tw-text-white px-2">Wade Warren</p>
                                </div>
                                <div>
                                    <a href="" class="main-color rounded px-2 py-1"> $ 120</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tw-relative">
                    <img src="/Images/papular4.png" alt="" class="tw-w-[100%]">
                    <div class="tw-absolute tw-top-0 p-3 d-flex tw-flex-col tw-justify-between tw-h-[300px]">
                        <div cl>
                            <a href="" class="main-color tw-font-bold p-2 rounded tw-text-xs">PAINTING</a>
                        </div>
                        <div>
                            <h2 class="tw-text-white mb-3 tw-font-extrabold">Home Construction</h2>
                            <div class="d-flex tw-justify-between tw-items-center">
                                <div class="d-flex tw-justify-between tw-items-center">
                                    <img src="\Images\Banner-img1.png" alt="">
                                    <p class="tw-text-white px-2">Wade Warren</p>
                                </div>
                                <div>
                                    <a href="" class="main-color rounded px-2 py-1"> $ 120</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>


</div>
<div class="set-your tw-w-[83%] tw-m-auto tw-mb-[90px]">
    <div class=" d-flex tw-justify-between tw-h-[550px] tw-items-center">
        <div class="tw-w-[42%] ">
            <p class="tw-text-5xl tw-font-extrabold mb-4 tw-break-words">Set Your Own Hours.<br> Earn On Your Own Terms.</p>
            <div class="tw-w-[73%]  d-flex tw-flex-col tw-justify-between tw-h-[281px] ">
                <div class="d-flex tw-items-center">
                    <img src="\Images\Set_Your1.png" alt="" class="main-color tw-rounded-full p-2">
                    <div class="tw-pl-3">
                        <p class="tw-font-bold tw-text-[18px]">Reliable earnings</p>
                        <p>Make money, keep your tips, and cash out when you want.</p>
                    </div>
                </div>
                <div class="d-flex tw-items-center">
                    <img src="\Images\Set_Your2.png" alt="" class="main-color tw-rounded-full p-2">
                    <div class="tw-pl-3">
                        <p class="tw-font-bold tw-text-[18px]">A flexible schedule</p>
                        <p>Be your own boss and drive whenever it works for you.</p>
                    </div>
                </div>
                <div class="d-flex tw-items-center ">
                    <img src="\Images\Set_Your3.png" alt="" class="main-color tw-rounded-full p-2">
                    <div class="tw-pl-3">
                        <p class="tw-font-bold tw-text-[18px]">Get paid instantly </p>
                        <p>Cash out your earnings whenever you want</p>
                    </div>
                </div>
                <div class="d-flex tw-items-center tw-justify-between tw-w-[70%]">
                    <a href="" class="main-color tw-py-[13px] tw-px-[32px]  rounded tw-text-white">Join Now</a>
                    <a href="" class="tw-bg-black tw-py-[13px]  tw-px-[12px] rounded tw-text-white">How envoycan works</a>
                </div>
            </div>
        </div>
        <div class="tw-relative tw-w-[48%] rounded ">
            <img src="\Images\set_your_group.png" alt="" class="tw-w-[92%]">
        </div>
    </div>


</div>
<div class="best-Provider tw-h-[510px] tw-ltr tw-bg-[#F6F7F9]">
    <div>
        <div class="tw-w-[90%] tw-m-auto d-flex tw-justify-between mb-4 tw-items-center">
            <div class="pt-5">
                <h1 class="tw-font-extrabold tw-text-5xl tw-mb-2">Our Best Provider</h1>
                <p class="tw-text-[14px]">
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.<br> Pellentesque in
                    ipsum id orci porta dapibus.
                </p>
            </div>
            <div class="d-flex tw-w-[9%] tw-justify-between tw-items-center">
                <div id="Provider-swiper-button-prev"><img src="\Images\Frame_prev.png" alt=""></div>
                <div id="Provider-swiper-button-next"><img src="\Images\Frame_next.png" alt=""></div>
            </div>
        </div>
        <div class="swiper Provider-serviceSwiper tw-ms-[6%]">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="card border-0 tw-rounded-[28px] style=" width: 16rem;">
                        <img src="\Images\best_1.png" class="card-img-top" alt="...">
                        <div class="card-body tw-text-center p-2">
                            <img src="\Images\Stars.png" alt="" class="tw-w-[32%]">
                            <h6 class="tw-font-bold">Leslie Alexander</h6>
                            <p class="card-text tw-text-[10px]">Electrician</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="card border-0 tw-rounded-[28px] style=" width: 16rem;">
                        <img src="\Images\best_2.png" class="card-img-top" alt="...">
                        <div class="card-body tw-text-center p-2">
                            <img src="\Images\Stars.png" alt="" class="tw-w-[32%]">
                            <h6 class="tw-font-bold">Leslie Alexander</h6>
                            <p class="card-text tw-text-[10px]">Electrician</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0 tw-rounded-[28px] style=" width: 16rem;">
                        <img src="\Images\best_3.png" class="card-img-top" alt="...">
                        <div class="card-body tw-text-center p-2">
                            <img src="\Images\Stars.png" alt="" class="tw-w-[32%]">
                            <h6 class="tw-font-bold">Leslie Alexander</h6>
                            <p class="card-text tw-text-[10px]">Electrician</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0 tw-rounded-[28px] style=" width: 16rem;">
                        <img src="\Images\best_4.png" class="card-img-top" alt="...">
                        <div class="card-body tw-text-center p-2">
                            <img src="\Images\Stars.png" alt="" class="tw-w-[32%]">
                            <h6 class="tw-font-bold">Leslie Alexander</h6>
                            <p class="card-text tw-text-[10px]">Electrician</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0 tw-rounded-[28px] style=" width: 16rem;">
                        <img src="\Images\best_1.png" class="card-img-top" alt="...">
                        <div class="card-body tw-text-center p-2">
                            <img src="\Images\Stars.png" alt="" class="tw-w-[32%]">
                            <h6 class="tw-font-bold">Leslie Alexander</h6>
                            <p class="card-text tw-text-[10px]">Electrician</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0 tw-rounded-[28px] style=" width: 16rem;">
                        <img src="\Images\best_2.png" class="card-img-top" alt="...">
                        <div class="card-body tw-text-center p-2">
                            <img src="\Images\Stars.png" alt="" class="tw-w-[32%]">
                            <h6 class="tw-font-bold">Leslie Alexander</h6>
                            <p class="card-text tw-text-[10px]">Electrician</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card border-0 tw-rounded-[28px] style=" width: 16rem;">
                        <img src="\Images\best_3.png" class="card-img-top" alt="...">
                        <div class="card-body tw-text-center p-2">
                            <img src="\Images\Stars.png" alt="" class="tw-w-[32%]">
                            <h6 class="tw-font-bold">Leslie Alexander</h6>
                            <p class="card-text tw-text-[10px]">Electrician</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>


</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (typeof Swiper !== 'undefined') {
            const swiperElement = document.querySelector('.swiper');
            if (swiperElement) {
                const swiper = new Swiper(swiperElement, {
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                    },
                });
            }
            const swiperContainerElement = document.querySelector('.swiper-container');
            if (swiperContainerElement) {
                const swiper2 = new Swiper(swiperContainerElement, {
                    slidesPerView: 1,
                    loop: false,
                    navigation: {
                        nextEl: "#get-solved-swiper-button-next",
                        prevEl: "#get-solved-swiper-button-prev",
                    },
                });
            }
            const swiperServiceElemet = document.querySelector('.service-swiper');
            if (swiperServiceElemet) {
                const swiper3 = new Swiper(swiperServiceElemet, {
                    slidesPerView: 1,
                    loop: true,
                    navigation: {
                        nextEl: "#services-swiper-button-next",
                        prevEl: "#services-swiper-button-prev"
                    }
                });
            }
            const swiperCleaningElemet = document.querySelector('.cleaning-swiper');
            if (swiperCleaningElemet) {
                const swiper4 = new Swiper(swiperCleaningElemet, {
                    slidesPerView: 1,
                    loop: true,
                    navigation: {
                        nextEl: "#cleaning-swiper-button-next",
                        prevEl: "#cleaning-swiper-button-prev"
                    }
                });
            }
            const swiperElectricalElemet = document.querySelector('.Electrical-swiper');
            if (swiperElectricalElemet) {
                const swiper5 = new Swiper(swiperElectricalElemet, {
                    slidesPerView: 1,
                    loop: true,
                    navigation: {
                        nextEl: "#Electrical-swiper-button-next",
                        prevEl: "#Electrical-swiper-button-prev"
                    }
                });
            }
            const swiperTestElement = document.querySelector('.Testimonials-swiper');
            if (swiperTestElement) {
                const swiper6 = new Swiper(swiperTestElement, {
                    effect: "coverflow",
                    loop: true,
                    centeredSlides: true,
                    slidesPerView: "auto",
                    coverflowEffect: {
                        rotate: 50,
                        stretch: 0,
                        depth: 100,
                        modifier: 1,
                        slideShadows: true,
                    },
                    navigation: {
                        nextEl: "#Testimonials-swiper-button-next",
                        prevEl: "#Testimonials-swiper-button-prev"
                    }
                });
            }
            const swiperPopularElemet = document.querySelector('.popular-serviceSwiper');
            if (swiperPopularElemet) {
                const swiper3 = new Swiper(swiperPopularElemet, {
                    slidesPerView: 6,

                    spaceBetween: 20,
                    grabCursor: true,

                    navigation: {
                        nextEl: "#popular-swiper-button-next",
                        prevEl: "#popular-swiper-button-prev"
                    }
                });
            }
            const swiperProviderElemet = document.querySelector('.Provider-serviceSwiper');
            if (swiperProviderElemet) {
                const swiper3 = new Swiper(swiperProviderElemet, {
                    slidesPerView: 6,
                    spaceBetween: 20,
                    grabCursor: true,
                    loop: true,
                    navigation: {
                        nextEl: "#Provider-swiper-button-next",
                        prevEl: "#Provider-swiper-button-prev"
                    }
                });
            }
        }
    });

</script>